.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .item {
    display: flex;
    gap: 50px;
    @media only screen and (max-width: 768px) {
        gap:10px;
    }
  }
  
  .item img {
    height: 200px;
    width: 200px;
  }

  .item p {
    max-width: 500px; /* Adjusting max-width for text */
    @media only screen and (max-width: 768px) {
      margin: 0;
      padding: 20px;
      font-size: 14px;
    }
  }

  .item h2{
    @media only screen and (max-width: 768px) {
      margin: 0;
      padding: 20px;
      font-size: 14px;
    }
  }

  .item-details{    
  display: flex;
  max-width: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  }